body{
    background-color:darkgray;
}
.navbar{
    overflow: hidden;
    background-color: #0B3861;
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar a:hover{
    color:chocolate;
}
#title{
    color: #fff;
    margin: 10px 0 0 10px;
    font-size: 30px;

}
#image{
    margin-top:20px;
    width:60%;
    float: left;
}
.register{
    background-color:beige;
    border-radius:3px;
    border-color:bisque;
    text-align:center;
    float:right; 
    margin:20px 0 0 20px;
    width: 30%;
    padding: 10px 15px;
}
.filedset{
    margin-top:20px;    
}
input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #0B3861;
    color:#fff;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


@media screen and (max-width:800px) {
    /** for tablets */
    body {
        background-color:burlywood;
    }
    .register{
        width: 90%;
    }

    header{
        float:none;
        width:100%;
    }
    #image{
        width:100%;
    }
    
}

@media screen and (max-width:500px) {
    /* for phone */
    body {
        background-color: rgb(192, 212, 192);
    }
    .register{
        width: 90%;
    }
    #image{
        width:100%;
        padding:0 0 0 0;
        margin: 10px 0 0 0;
    }
    .navbar a {
        float: none;
        width: 100%;
      }

}



