#nav{
    color:#fff;
    background: #0B3861;
    height: 100px;
}
#nav h1{
    text-align: center;
}
#slider{
    width:100%
}
.register{
    background-color:beige;
    border-radius:3px;
    border-color:bisque;
    text-align:center;    
}
.filedset{
    margin-top:20px;
}
